/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
/storage/*.key
/storage/database/database.sqlite
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.DS_Store
